html, body{
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}
.titulo {
    text-align: center;
    background-color: black;
    color: white;
}

.carta {
    position: relative;
    width: 150px;
    left: 115px;
    margin-left: -85px;
}

#Computadora-cartas, #jugador-cartas {
    height: 10%;
    min-height: 150px;
}